{% extends 'main/layout.html' %}

{% block title %}
    WisysrProject
{% endblock %}
{% block new %}
  <header>
  <h1>WisysrProject</h1>
</header>

<nav>
  <ul>
    <li><a href="#">Главная</a></li>
    <li><a href="#">Аниме</a></li>
    <li><a href="#">Манга</a></li>
    <li><a href="#">Новости</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
</nav>

<main>
  <h2>Добро пожаловать в мир аниме!</h2>
  <p>WisysrProject — ваш портал в мир аниме. Мы делаем все, чтобы предоставить вам самые актуальные новости и материалы о ваших любимых сериалах и манге.</p>

  <!-- Карточки -->
  <div class="card">
      <a href="http://127.0.0.1:8000/other/" target="_blank">
        <h3>Топ-10 самых лучших аниме и манг за все время</h3>
        <p></p>
      </a>
  </div>
</main>

<footer>
  <p>&copy; 2025 WisysrProject. Все права защищены.</p>
</footer>
{% endblock %}